<!DOCTYPE html>
<html>
  <head>
    <title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
      <!-- link(rel=’stylesheet’,href=’/stylesheets/dashboard.css’)--></title>
  </head>
  <body></body>
  <div class="container">
    <div class="page-header">
      <h1>Streaming Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div id="ss-message-metric" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Data Stream Viewer</h3>
          </div>
          <div class="panel-body metric">
            <h1 data-field="ss-message">TBD</h1>
          </div>
          <div class="panel-footer">Data Values</div>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <p id="ss-message"></p>
  <button id="ping" type="button">Ping!</button>
  <!-- bind to the data fields defined in mixin-->
  <script src="/socket.io/socket.io.js"></script>
  <!-- stream the actual data from the data stream emitter-->
  <script src="/javascripts/client.socket.io.js"></script>
</html>