doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p#ss-message
  block content
  block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/client.socket.io.js')